/* Button to top */
.top {
    position: fixed;
    bottom: 50%;
    font-size: 19px;
    color: rgb(255, 255, 255);
    opacity: 0;
    width: fit-content;
    padding: 0 15px 0 15px;
    height: 50px;
    border-radius: 10px;
    background-color: #08a6e4d5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    pointer-events: none;
    transition: all 0.5s;
    z-index: 100;
}
.top:hover {
    background-color: #45c7faa2;
}
@include sm {
    .top.active {
        font-size: 14px;
        bottom: 110px;
        left: 10px;
        pointer-events: auto;
        opacity: 0.9;
        animation: top 1.1s both;
    }
}
@keyframes top {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 0.9;
    }
    55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
/* Button to top */
