/*Barra progreso*/
.barra-progreso {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.porcentaje-barra {
    height: 5px;
    width: 0%;
    background-color: #08a6e4b0;
    transition: all 0.45s;
}
/*Barra progreso*/
